*
!cache
!cache/.gitkeep
!plugin
!plugin/.gitkeep
!settings
!settings/.gitkeep
!settings/acl.php
!settings/db.php
!settings/log.php
!settings/forum.php
!settings/themes.php
!settings/page-manager.php
!.gitignore
